---
import { getCollection } from 'astro:content';

import Layout from '../../../layouts/Layout.astro';

import CategoryLink from '../../../components/blog/CategoryLink.astro';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();


const pubDate = entry.data.pubDate.toLocaleDateString("fr-FR", {dateStyle: 'long'});

---
<Layout title={entry.data.title + ' - Blog de Sola Gratia'}>
  <div class="p-4 min-h-[calc(100vh-128px)] prose xl:prose-lg mx-auto">
    <h1>{entry.data.title}</h1>
    <p class="text-sm flex space-x-2"><span>{pubDate}, par {entry.data.author}</span>
      {entry.data.categories.map(c => (
        <CategoryLink name={c} />
      ))}
    </p>
    <Content />
  </div>
</Layout>