---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Sola Gratia">
	<div class="p-4 min-h-[calc(100vh-128px)] grid grid-cols-1 gap-3 place-content-center place-items-center text-center">
		<p class="text-xl">Une erreur est survenue.</p>
	</div>
</Layout>
