---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';

import logo from '../assets/logo.png';
---

<Layout title="Sola Gratia">
	<div class="p-4 min-h-[calc(100vh-128px)] grid grid-cols-1 gap-3 place-content-center place-items-center text-center">
		<a href="/explorer">
			<Image src={logo} height="128" width="128" alt="Croix sur une montagne, symbole de la grâce divine" loading="eager" />
		</a>
		<h1 class="text-4xl font-bold">Sola Gratia</h1>
		<p class="text-xl">Explorez la Bible avec une perspective nouvelle</p>
		<div class="flex items-center gap-4">
			<a href="https://x.com/solagratia_fr" title="X">
				<svg class="size-8" viewBox="0 0 24 24" fill="currentcolor">
					<title>X</title>
					<path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path>
				</svg>
			</a>
			<a href="https://instagram.com/solagratia_fr" title="Instagram">
				<title>Instagram</title>
				<svg class="size-8" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37z"></path><line x1="17.5" y1="6.5" x2="17.5" y2="6.5"></line>
				</svg>
			</a>
			<a href="https://tiktok.com/@solagratia_fr" title="TikTok">
				<svg class="size-8" viewBox="0 0 76 76" fill="currentcolor" stroke-width="2">
					<title>TikTok</title>
					<path d="M65.9 19.4c1.4.2 2.8.1 2.8.1s0 6.2.0 12.2c-6.3.0-12.1-2-16.8-5.4V51c.1 20-24.6 29.8-38.3 15.6-14.7-15.1-2.1-40.5 19-37.7v12.3c-9.5-3-17.2 8-11.2 15.9 5.8 7.7 18.3 3.6 18.3-6.1v-48.2c2.4.0 9.9.0 12.2.0v1.6c.7 7.4 6.1 13.4 13.3 15v0C65.4 19.3 65.6 19.4 65.9 19.4z"></path>
				</svg>
			</a>
			<a href="mailto:simon@solagratia.fr">
				<svg class="size-8" viewBox="0 0 24 21" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<title>Email</title>
					<path d="M4 4h16c1.1.0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1.0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline>
				</svg>
			</a>
			<a href="https://github.com/simonhege/solagratia.fr">
				<svg class="size-8" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<title>GitHub</title>
					<path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37.0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44.0 0020 4.77 5.07 5.07.0 0019.91 1S18.73.65 16 2.48a13.38 13.38.0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07.0 005 4.77 5.44 5.44.0 003.5 8.55c0 5.42 3.3 6.61 6.44 7A3.37 3.37.0 009 18.13V22"></path>
				</svg>
			</a>
	</div>
</div>



</Layout>