---
import Image from "astro/components/Image.astro"

---

<nav
  class="
    flex flex-wrap
    items-center
    justify-between
    w-full
    py-4
    md:py-0
    px-4
    text-lg
  "
>
  <div>
    <a class="flex items-center space-x-2 text-2xl font-bold" href="/">
      <Image src="/favicon-32x32.png" width="32" height="32" class="pe-2" alt="Croix sur une montagne, symbole de la grâce divine" loading="eager" />
      Sola Gratia
    </a>
  </div>
  <svg id="menu-button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" 
    class="h-6 w-6 cursor-pointer md:hidden block" >
    <path stroke-line-cap="round" stroke-line-join="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
  </svg>
  <div class="hidden w-full md:flex md:items-center md:w-auto" id="menu">
    <ul
      class="
        text-base
        pt-4
        md:flex
        md:justify-between
        md:pt-0"
    >
    <li id="adminLink" class="hidden">
      <a class="md:p-4 py-2 block hover:underline" href="/admin"
        >Admin</a
      >
    </li>
    <li>
      <a class="md:p-4 py-2 block hover:underline" href="/explorer"
        >Explorer la Bible</a
      >
    </li>
    <li>
      <a class="md:p-4 py-2 block hover:underline" href="/blog"
        >Blog</a
      >
    </li>
      </ul>
  </div>
</nav>

<script>  
  var menuVisible=false;
  const button = document.getElementById('menu-button');
  const menu = document.getElementById('menu');
  if (button && menu) {
    button.addEventListener('click', () => {
      menuVisible = !menuVisible;
      if (menuVisible) {
        menu.classList.remove("hidden");
      } else {
        menu.classList.add("hidden");
      }
    });
  }
  const showAdmin = (localStorage.getItem('show-admin') === 'true') 
  if (showAdmin) {
    const adminLink = document.getElementById('adminLink');
    adminLink?.classList.remove('hidden');
  }
</script>