---
import type { CollectionEntry } from 'astro:content';
import CategoryTag from './CategoryTag.astro';

interface Props {
	post: CollectionEntry<'blog'>
}

const { post } = Astro.props;

const pubDate = post.data.pubDate.toLocaleDateString("fr-FR", {dateStyle: 'medium'});
---

<a href= { "/blog/billets/" + post.slug } class="block w-full p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
  <p class="text-sm">{pubDate}</p>
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{post.data.title}</h5>
  <p class="font-normal text-gray-700 mb-1">{post.data.description}</p>
  <p class="text-sm flex space-x-2">
    {post.data.categories.map(c => (
      <CategoryTag name={c} />
    ))}
  </p>
</a>

